CT/.vs/
CT/CT.Gateway/obj/
CT/CT.Gateway/bin/
CT.IdentityProvider/CT.IdentityProvider/obj/
CT.IdentityProvider/CT.IdentityProvider/.vs/
CT.Gateway/CT.Gateway/bin/
CT.Gateway/CT.Gateway/obj/
CT.IdentityProvider/.vs/
CT.IdentityProvider/obj/
CT.Gateway/.vs/
CT.IdentityProvider/bin/
CT.EmployeeManagement/CT.EmployeeManagement/obj/
CT.EmployeeManagement/.vs/
