CT/.vs/
CT/CT.Gateway/obj/
CT/CT.Gateway/bin/
CT.IdentityProvider/CT.IdentityProvider/obj/
CT.IdentityProvider/CT.IdentityProvider/.vs/
CT.Gateway/CT.Gateway/bin/
CT.Gateway/CT.Gateway/obj/
CT.IdentityProvider/.vs/
CT.IdentityProvider/obj/
CT.Gateway/.vs/
CT.IdentityProvider/bin/
CT.EmployeeManagement/CT.EmployeeManagement/obj/
CT.EmployeeManagement/.vs/
CT.CategoryManagement/obj/
CT.CategoryManagement/.vs/
CT.CategoryManagement/CT.BL/bin/
CT.CategoryManagement/CT.BL/obj/
CT.CategoryManagement/CT.CategoryManagement/.vs/
CT.CategoryManagement/CT.CategoryManagement/bin/
CT.CategoryManagement/CT.CategoryManagement/obj/
CT.CategoryManagement/CT.Common/bin/
CT.CategoryManagement/CT.Common/obj/
CT.CategoryManagement/CT.DL/bin/
CT.CategoryManagement/CT.DL/obj/
CT.CategoryManagement/CT.ImExReport/bin/
CT.CategoryManagement/CT.ImExReport/obj/
CT.CategoryManagement/CT.UserContext/obj/
CT.CategoryManagement/CT.Utils/bin/
CT.CategoryManagement/CT.Utils/obj/
CT.CategoryManagement/CT.UserContext/bin/
CT.CategoryManagement/CT.Models/obj/
CT.CategoryManagement/CT.Models/bin/
